<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="css/styles.css" rel="stylesheet" />
        <title>IMI Oglas</title>
    </head>
    <body  style="background-image: url('assets/bg.jpg')">

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand">Oglas IMI</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a class="nav-link active" aria-current="page" th:href="@{'/'}">Home</a></li>
                    <li class="nav-item"><a class="nav-link active" aria-current="page" th:href="@{'/prikazoglasa'}">Oglasi</a></li>
                    <li class="nav-item"><a class="nav-link active" th:href="@{'/SpisakPoslodavaca'}">Spisak Poslodavaca</a></li>
                    <li class="nav-item"><a class="nav-link active" aria-current="page" th:href="@{'/login'}" sec:authorize="isAnonymous()">Log in</a></li>
                    <li class="nav-item"><a class="nav-link active" aria-current="page" th:href="@{'/registracija'}" sec:authorize="isAnonymous()">Registracija</a></li>
                    <li class="nav-item" sec:authorize="!isAnonymous()"><a class="nav-link active" aria-current="page" th:href="@{'/MojProfil'}">Moj Profil</a> </li>
                    <li class="nav-item" sec:authorize="!isAnonymous()"><a class="nav-link active" aria-current="page" th:href="@{'/MojProfil/IzmenaPodataka'}">Izmeni podatke</a> </li>
                    <li class="nav-item" sec:authorize="hasAuthority('ADMIN')"><a class="nav-link active" aria-current="page" th:href="@{'/oglas/postaviOglas'}">Postavi oglas</a> </li>
                    <li class="nav-item" sec:authorize="hasAuthority('POSLODAVAC')"><a class="nav-link active" aria-current="page" th:href="@{'/oglas/postaviOglas'}">Postavi oglas</a> </li>
                    <li class="nav-item" sec:authorize="!isAnonymous()"><a class="nav-link active" aria-current="page" th:href="@{'/logout'}">Logout</a> </li>




                </ul>
            </div>
        </div>

    </nav>
        
        <div class="container mt-4 mb-4">
            
                <h1>Oglasi:</h1>
                <h3>Parametri pretrage:</h3>

            <form th:action="@{/prikazoglasa}">

                <span>Minimum plata:</span> <br>
                <input type="text" style="margin-bottom: 2px;width: 270px;height:35px" th:name="minPlata"><br>
                <span>Maximum plata:</span> <br>
                <input type="text" style="margin-bottom: 2px;width: 270px;height:35px" th:name="maxPlata"> <br>

                <span>Mesto:</span> <br>
                <input type="text" style="margin-bottom: 2px;width: 270px;height:35px" th:name="mesto"><br>
                <span>Kategorija:</span> <br>
                <input type="text" style="margin-bottom: 2px;width: 270px;height:35px" th:name="kategorija"> <br>
                <span>Rad od kuce:</span>
                <input type="checkbox" value="radOdKuce" th:name="radOdKuce">

                <input type="submit" value="Pretrazi" style="margin-top: 4%">

            </form>
                
        </div>

        <div style='background-color: #002237;width: 100%; height: 35px'>
            <p> </p>
        </div>

        <div class="container mt-4 mb-4" style="text-align: center;border:1px solid black;border-radius: 15px; display:flex; flex-direction:column; align-items:center;" th:each="oglas : ${oglasi}">

            <h2 th:text="${oglas.naslov}"></h2>
            <p th:text="${oglas.poslodavac.ime} + ' ' + ${oglas.poslodavac.prezime}"></p>
            <p th:text="${oglas.mesto}"></p>
            <p th:text="${oglas.kategorija}"></p>
            <p th:text="${oglas.podkategorija}"></p>
            <p th:text="${oglas.plata} + ' RSD'"></p>
            <p th:if="${oglas.radOdKuce}" style="background-color: green; border-radius:5px; color:white; width:150px;"> Moguc rad od kuce. </p>
            <p th:if="${!oglas.radOdKuce}" style="background-color: red; border-radius:5px; color:white; width:150px;"> Nije moguc rad od kuce. </p>
            <a th:href="@{/oglas/{id}(id=${oglas.id})}"> <input type="button" value="Pogledaj" style='margin-bottom: 17px;background-color: #0069d9;border: 0px;border-radius: 5px;padding:5px 15px;color:white'> </a>
            <form th:action="@{/obrisiOglas/{id}(id=${oglas.id})}" method="POST">
                <input sec:authorize="hasAuthority('ADMIN')" type="submit" value="Obrisi oglas" style='margin-bottom: 17px;background-color: red;border: 0px;border-radius: 5px;padding:5px 15px;color:white'> </a>
            </form>

        </div>

       
         <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>
