<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<html>
    <head>

        <link href="css/reg.css" rel="stylesheet">
        <link href="css/styles.css" rel="stylesheet" />

</head>

<body style="background-image: url('assets/bg.jpg')">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand">Oglas IMI</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link active" aria-current="page" th:href="@{'/index'}">Home</a></li>
                        <li class="nav-item"><a class="nav-link active" th:href="@{'/SpisakPoslodavaca'}">Spisak Poslodavaca</a></li>
                <li class="nav-item"><a class="nav-link active" aria-current="page" th:href="@{'/login'}">Log in</a></li>
                <li class="nav-item"><a class="nav-link active" aria-current="page" th:href="@{'/registracija'}">Registracija</a></li>




            </ul>
        </div>
    </div>

</nav>
<div class="container register">

                <div class="row">
                    <div class="col-md-3 register-left">
                        <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt=""/>
                        <h3>Dobrodosli</h3>
                        <p>Samo Vas registracija deli od pronalaska zeljenog posla!</p>
                        <a th:href="@{'login'}"> <input type="submit" name="" value="Login" /> </a><br/>
                    </div>
                    <div class="col-md-9 register-right">
                       
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                <h3 class="register-heading" style="display:block;">Registracija</h3>


                                <div>
                                    <input type="button" class="btnRegister" style="width:150px; height: 40px; padding:0px;" value="Radnik"/>
                                    <input type="button" class="btnRegister" style="width:150px; height: 40px; padding:0px;"  value="Poslodavac"/>
                                </div>



                                    <div class="row register-form">
                                        <form th:action="@{/registracija/radnik}" method="post" th:object="${noviKorisnik}">
                                        <div class="col-md-6">

                                            <div class="form-group">
                                                <input type="text" id="korisnickoIme" class="form-control" th:field="*{korisnickoIme}" placeholder="Korisnicko ime *" value="" />
                                            </div>

                                            <div class="form-group">
                                                <input type="email" id="eMail" class="form-control" th:field="*{eMail}" placeholder="Email *" value="" />
                                            </div>

                                            <div class="form-group">
                                                <input type="password" id="lozinka" class="form-control" th:field="*{lozinka}" placeholder="Lozinka *" value="" />
                                            </div>

                                            <div class="form-group">
                                                <input type="text" id="ime" class="form-control" th:field="*{ime}" placeholder="Ime *" value="" />
                                                <input type="text" id="prezime" class="form-control" th:field="*{prezime}" placeholder="Prezime *" value="" />
                                            </div>

                                            <div class="form-group">
                                                <input type="date" id="datumRodjenja" class="form-control" th:field="*{datumRodjenja}" placeholder="Datum rodjenja *" value=""  />
                                            </div>

                                            <div class="form-group">
                                                <select class="form-control" id="pol" th:field="*{pol}">
                                                    <option class="hidden"  selected disabled>Pol</option>
                                                    <option th:value="Muski" style="font-weight: bold">Muski</option>
                                                    <option th:value="Zenski" style="font-weight: bold">Zenski</option>
                                                </select>
                                            </div>

                                            <div class="form-group">
                                                <input type="text" id="drzava" class="form-control" th:field="*{drzava}" placeholder="Drzava *" value="" />
                                            </div>

                                            <div class="form-group">
                                                <input type="text" id="grad" class="form-control" th:field="*{grad}" placeholder="Grad *" value=""  />
                                            </div>


                                            <div class="form-group">
                                                <input type="file" id="file" name="file" required>
                                            </div>

                                        </div>

                                        </form>
                                    </div>

                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>

            </div>
<script src="functions.js"></script>
</body>
</html>